body
{  
    background: #1e1f24;
    color: rgba(98, 11, 170, 0.425);
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;

}
#cabecera #tagline
{
    padding: 0 0 0 lem;
    font-weight: normal;
    font-size: 0.8cm;
}

#cabecera
{
    background: grey;
    box-shadow: 0px 2px 20px opx rgba(0,0,0,0.5);
    color: blanchedalmond;
    margin: 0;
    padding: 0.5cm;

}

#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 00.8cm;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid rgba(2, 17, 29, 0.5);
    margin: 0 auto;
}
#container
{
    font-size: 20px;
}
#container h1
{
    font-size: 20px;
}
#post
{
    padding: 1em;
}
#footer
{
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}

